
.Social-Media-Design-hero {
    background-image: url("https://s3-alpha-sig.figma.com/img/fcd9/2e9d/1660ec51280199452a992649ebaac684?Expires=1737936000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=b~mY191HzuQO1AUP22mH32~cdpHE1rohsly9cy~wY-wtVG6dP-3jK1tqlui~77i243nj~YjNXr0HKfmfXXAe6C2q9evbHYWIsqYgeZmIcOHVC2cl6bBPLi-3os4FpbYzjCufQSbqs-eMizp~thTLsnSBU75LuQi3GqRGWnxztRikr-DuXJdy6xWlhWz8AL9TMnOfUWYrO4rpGsSs-pVC6xdXr3yZNHUSr~oy~d2I7ec9zHA0LB7cqTQFJ1BGqEYQduQ~hQWBXV4n-e1Xj6Oyz32GEpw9cXfpI1mcCKUiz0ZqCiBSarvAsnNQQFyIOzXe2g9qpdnuZ8A04mdUDf2c8A__");
    background-size: cover;
    background-position: center;
    color: #333;
    width: 100%;
    height: 700px;
  }